:root{
    --body: #F2EFC7;
    --url: #F7FFE0; 
    --text: #9F7E69;
    --button: #D2BBA0;
}
.input-div{
    margin-top: 5vh;
    top: 50vh;
    width: 100%;
    
}
#url{
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--url);
}
h1{
    font-size: 48px;
    text-align: center;
    left: 50vw;
    margin-top: 20vh;
    font-family: 'Sora', sans-serif;
    color: var(--text);
    
}
p{
    font-size: 25px;
    text-align: center;
    left: 50vw;
    font-family: 'Sora', sans-serif;
    color: var(--text);
}
.button-div{
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}
#go-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    background-color: var(--button);
    color: var(--url);
    border-radius: 5px;
    text-align: center;
}
#output{
    margin-top: 10vh;
}

body{
    background-color: var(--body);
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 88vw; 
    opacity: 50%;


  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    opacity: 50%;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popup .hideAnimation{
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }

  .popup .hide{
      visibility: hidden;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.5;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.5 ;}
  }

  @-webkit-keyframes fadeOut {
    from {opacity: 0.5;} 
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 0.5;}
    to {opacity:0 ;}
  }